<ul class="collection with-header">
		<li class="collection-header"><h4>Documentos</h4></li>
		<li class="collection-item">
			<div><a class="secondary-content">misión<i class="material-icons ">subject</i></a></div>		
		</li>
		<li class="collection-item">
			<div><a class="secondary-content">visión<i class="material-icons">subject</i></a></div>
		</li>
		<li class="collection-item">
			<div><a class="secondary-content">reseña historica<i class="material-icons">subject</i></a></div>
		</li>
		<li class="collection-item">
			<div>
				<a class="secondary-content">SG-SST
					<i class="material-icons">subject</i>
				</a>
			</div>
		</li>	
		</ul>
		<br/><br/>
		<form action="../login" name="enviar_archivo_frm" method="POST" enctype="multipart/form-data">			
			<input type="submit" id="submit_file" name="subir_btn" value="Subir archivo"/>
		</form>