<div id="listaempresas" v-cloak>
  <ajax-form action="listaempresas" :syncing.sync="syncing">
    <fieldset>
      <h2>Empresas</h2>
      <ul class="collection with-header" style="list-style: none;">
        <li v-for="item in formData.empresas">
          <i class="material-icons work"></i>
          <a class="secondary-content">
            <div class="alert" v-bind:class="obtenerClass(item)" role="alert">
              <i class="fas fa-building" style="color:black"></i>&nbsp;{{ item.nombre }} - NIT {{ item.nit }}
            </div>
          </a>
        </li>
      </ul>
    </fieldset>
  </ajax-form>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>