<div id="forgot-password" v-cloak>
  <div class="container">
    <h1 class="text-center" style="color:Gray">
      <i class="fas fa-unlock-alt fa-2x"></i>
    </h1>
    <h1 class="text-center">
      Recuperar contraseña
    </h1>
    <div class="forgot-form" v-if="!cloudSuccess">
      <p class="text-center">Ingrese el correo electrónico asociado a la cuenta.</p>
      <hr/>
      <ajax-form action="sendPasswordRecoveryEmail" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <input type="email" name="email-address" class="form-control" placeholder="overrideinc@example.com" :class="[formErrors.correo ? 'is-invalid' : '']" v-model.trim="formData.correo" focus-first>
          <div class="invalid-feedback" v-if="formErrors.correo">Por favor, ingrese un correo electrónico válido</div>
        </div>
        <p class="text-danger" v-if="cloudError"><small>Ha ocurrido un error. Por favor verifique sus datos o <a href="/contact">contacte nuestro soporte</a> si el error persiste.</small></p>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block">Enviar link de recuperación</ajax-button>
        </div>
      </ajax-form>
      <p class="text-center"><a href="/login">Volver al login</a></p>
    </div>
    <div class="success-message" v-if="cloudSuccess">
      <p>We've sent you a link to update your password.</p>
      <hr/>
      <p>If the email doesn’t arrive after a few minutes, try checking your spam folder.  If you still can’t find it, please try again, or <a href="/contact">contact support</a>.</p>
      <p class="text-center"><a class="btn btn-outline-primary" href="/login">Back to login</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>