<div id="uploadfiles" v-cloak>
	<div class="container" style="width:90%" v-if="!cloudSuccess">
		<br>
		<h1 class="text">{{ formData.nombreAnexo }}</h1>
		<div class="signup-form">
			<p class="text">{{ formData.descripcionAnexo }}</p>
			<hr/>

			<fieldset>
				<label for="nombreS"> Nombre del documento </label>
				<select class="form-control" id = "nombreS" :class="[formData.nombre ? '' : 'is-invalid']" v-model="formData.nombre">
					<option v-for="item in formData.lista">{{ item.nombre}}</option>
				</select>
				<div class="invalid-feedback" v-if="formErrors.nombre">Por favor seleccione qué documento de la lista está por subir.</div>
				<hr>
   			 </fieldset>

			<ajax-form action="uploadfiles" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
				<div class="form-group">
					<label for="archivo">Archivo</label>
					<input class="form-control" id="archivo" type="file"@change="previewFiles" ref="myFiles" accept=".xlsx,.xls,image/*,.doc, .docx,.ppt,.pptx,.txt,.pdf" focus-first>
					<lablel for="archivo"></lablel>
					<div class="text-danger" v-if="formErrors.name">Por favor elija un archivo para subir.</div>
				</div>
				<p class="text-danger" v-if="cloudError==='fileTypeNotSupported'"><small>El tipo (la extensión) del archivo que intentó subir no es válido.</small></p>
				<p class="text-danger" v-else-if="cloudError"><small>Ha ocurrido un error inesperado al momento de subir el archivo</small></p>
				<ajax-button type="submit" :syncing="syncing" class="btn btn-success">
					<div><i class="fas fa-arrow-alt-circle-up"></i> Subir archivo </div>
				</ajax-button>
				<hr/>
				<label for="downsc">Descargar</label>
				<div class="container" id = "downsc" style="width: 80%;height:200px;overflow-y:scroll;">
					<ul id="downs">
						<li v-for="item in formData.documents">
							<div class="d-flex justify-content-between">
								<a :href="item.url" download>{{ item.descripcion }}</a>
								<a href = "\" style="color:Red"><i class="fas fa-times-circle"></i></a>
							</div>
						</li>
					</ul>
					<hr/>
				</div>
			</ajax-form>
			</hr> </br>
    		<div class="d-flex justify-content-end">
    		  <% if(me.esSuperAdmin){ %>
   		     <a type="button" class="btn btn-secondary" :href = "'/anexos?nit='+formData.nit">Volver a Anexos</a>
 		     <% } else { %>
 		       <a type="button" class="btn btn-secondary" href="/anexos">Volver a Anexos</a>
 		     <% } %>
 		   </div>
		</div>
	</div>
	</br>
</div>


<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
