<div id="uploadfiles" v-cloak>
	<div class="container" v-if="!cloudSuccess">
		<br>
		<h1 class="text">{{ formData.nombreAnexo }}: {{ formData.descripcionAnexo }}</h1>
		<div class="signup-form">
			<p class="text">Aquí debe ir la descripción detallada del anexo</p>
			<hr/>

			<fieldset>
				<label for="nombreS"> Nombre del documento </label>
				<select class="form-control" id = "nombreS" :class="[formData.nombre ? '' : 'is-invalid']" v-model="formData.nombre">
					<option v-for="item in formData.lista">{{ item.nombre}}</option>
				</select>
				<div class="invalid-feedback" v-if="formErrors.nombre">Por favor seleccione qué documento de la lista está por subir.</div>
				<hr>
   			 </fieldset>

			<ajax-form action="uploadfiles" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
				<div class="form-group">
					<label for="archivo">Archivo</label>
					<input class="form-control" id="archivo" type="file"@change="previewFiles" ref="myFiles" accept=".docx,.pdf,.xlsx,image/*" focus-first>

					<ajax-button type="submit" :syncing="syncing" class="btn btn-success">
						<i class="fas fa-arrow-alt-circle-up"></i> Subir archivo
					</ajax-button>
				</div>

				<label for="downs">Descargar</label>

				<ul id="downs">
					<li v-for="item in formData.documents">
						<a :href="item.url" download>{{ item.descripcion }}</a>
					</li>
				</ul>

			</ajax-form>

		</div>
	</div>
</div>


<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
